<h2>Other Uses of Chainmaille</h2>
<p>This gallery demonstrates  other varied designs using maille. Click on the picture for a larger image and on the caption for a description of the piece and other information.</p>
<div class="gallery">
  <ul>
    <li>
      <span>
        <img src="/assets/Images/Thumbnails/other/Curly Dragon_thumb.jpg" alt="" width="198" height="198"><br>
        Curly Dragon
      </span>
    </li>
    <li>
      <span>
        <img src="/assets/Images/Thumbnails/other/Dice Bag_thumb.jpg" alt="" width="198" height="198"><br>
        Dice Bag
      </span>
    </li>
    <li>
      <span>
        <img src="/assets/Images/Thumbnails/other/Dragon Bracelet_thumb.jpg" alt="" width="198" height="144"><br>
        Dragon Bracelet Wrap
      </span>
    </li>
    <li>
      <span>
        <img src="/assets/Images/Thumbnails/other/Lighter Cover_thumb.jpg" alt="" width="144" height="198"><br>
        Lighter Cover
      </span>
    </li>
    <li>
      <span>
        <img src="/assets/Images/Thumbnails/other/Owls_thumb.jpg" alt="" width="112" height="198"><br>
        Owls
      </span>
    </li>
    <li>
      <span>
        <img src="/assets/Images/Thumbnails/other/Sun Catcher_thumb.jpg" alt="" width="182" height="144"><br>
        Sun Catcher
      </span>
    </li>
    <li>
      <span>
        <img src="/assets/Images/Thumbnails/other/Slyterin House Inlay_thumb.jpg" alt="" width="198" height="111"><br>
        Inlaid Banner
      </span>
    </li>
  </ul>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
