<div>
  <h2>Armour</h2>
  <p>These are some examples of chainmaille as armour. Click on the picture for a larger image and on the caption for a description of the piece and other information.</p>
  <p>&nbsp;</p>
  <div class="gallery">
    <ul>
      <li>
        <span>
          <img src="/assets/Images/Thumbnails/armour/Long Coif with Ventail_thumb.jpg" alt="" width="144" height="196"><br>
          Coif
        </span>
      </li>
      <li>
        <span>
          <img src="/assets/Images/Thumbnails/armour/Vendel Period Byrnie_thumb.jpg" width="144" height="213" alt=""><br>
          Byrnie
        </span>
      </li>
      <li>
        <span>
          <img src="/assets/Images/Thumbnails/armour/Bracer_thumb.jpg" alt="" width="144" height="186"><br>
          Bracer
        </span>
      </li>
    </ul>
  </div>

</div>
