<nav id="navigation">
  <ul>
    <li><a routerLink ="/welcome">Home</a></li>
    <li><a routerLink ="/history">History</a></li>
    <li><a routerLink ="/materials">Materials</a> </li>
    <li><a routerLink ="/type">Types</a></li>
    <li>
      <a routerLink="/galleries">Galleries</a>
      <!--<a>Galleries</a>-->
      <ul>
        <li><a routerLink ="/armor-galleries">Armour</a></li>
        <li><a routerLink ="/jewelry-galleries">Jewelry</a></li>
        <li><a routerLink ="/misc-galleries">Other</a></li>
      </ul>
    </li>
    <li><a routerLink ="/credits">Credits</a></li>
    <li><a routerLink ="/links">Links</a></li>
  </ul>
</nav>
