<nav id="navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="history.html">History</a></li>
    <li><a href="materials.html">Materials</a> </li>
    <li><a href="types.html">Types</a></li>
    <li>
      <a href="galleries.html">Galleries</a>
      <ul>
        <li><a href="armour.html">Armour</a></li>
        <li><a href="jewelry.html">Jewelry</a></li>
        <li><a href="other.html">Other</a></li>
      </ul>
    </li>
    <li><a href="credits.html">Credits</a></li>
    <li><a href="links.html">Links</a></li>
  </ul>
</nav>
