#navigation {
  float: left;
  display: inline;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #0E00C4;
  border-radius: 25%;
  border-top: thin solid #000000;
  border-bottom: thin solid #000000;
  width: 14%;
  overflow-x: hidden;
}
ul li {
    list-style-type: none;
  }

ul li a {
      text-decoration: none;
      color: #FFFD00;
      font-size: large;
    }

ul li a:visited {
      }

  ul li a:hover {
  }

