<div>
  <h2>Types of Chainmaille</h2>
  <p>Chainmaille can be divided into three main categories, armour, jewelry, and miscellaneous.</p>
  <h3>Armour</h3>
  <p>Armour, also spelled armor, is is a protective covering for one or more body parts. Mail armor is composed of sheets of varying thickness rings woven together to form a larger sheet or a suit. The thicker rings of the sheet are positioned to cover the more vital areas. Due to the flexible nature of mail armour, it was ideally used for foot soldiers who required greater movement ability.</p>
  <p>Mail armour is constructed using one of two different pattern, or weave classes, European and Oriental.</p>
  <p>European mail is a rectangular design which displays close knit alternating rows of rings. Most commonly it is constructed in what is known as 4 in 1, meaning that 4 separate rings pass though each individual ring. There have been samples that show variations on this pattern such as a 6 in 1 and an 8 in one pattern.</p>
  <p>Oriental mail is more geometric and the weave is more open in design than the European class. In oriental weaves, each ring sits perpendicular to the ring it is woven into, thereby producing the more open weave. Oriental 4 in 1 will produce a square pattern and Oriental 6 in one will produce a hexagonal pattern.</p>
  <p>Although there are additional weave classes, to date, there have been no historical samples found in these other weaves.</p>
  <h3>Jewelry</h3>
  <p>Jewelry is generally composed of single or multiple individual chains of maille woven in different weaves to produce necklaces, bracelets, earrings and pendants. The weaves used in jewelry design can be of either the European or Oriental weaves described above or of additional weave catagories such as Persian or Spiral weaves. Through experimentation with rings, many variations have been produced based on the original weave patterns. The sheer number of variations is too numerous to list them all here. Mail Artisans International League (M.A.I.L.) has a comprehensive list of these weaves <a href="http://www.mailleartisans.org/weaves/" target="new">here</a>. </p>
  <h3>Miscellaneous</h3>
  <p>This category comprises of additional designs created with maille. This includes items such as sculptures and inlaid wall hangings.</p>
</div>
