<div>
  <h2>Credits and Acknowledgments</h2>
  <p>Many warm and heartfelt thanks go to the following individuals for their gracious permission to use their photos for this site.</p>
  <ul>
    <li>Laura Michelle Blankenship</li>
    <li>Clara Campfield</li>
    <li>Susan Dechamp</li>
    <li>Charity Dorn</li>
    <li>Erika Hasenauer Doss</li>
    <li>Mike Dunajew</li>
    <li>Michael Hatter Hankamer</li>
    <li>Jaima Hart</li>
    <li>Andrew Keenan</li>
    <li>Hanibal King</li>
    <li>Alex McAllister</li>
    <li>Drew Oliver</li>
    <li>Scott Smith</li>
    <li>Daleann Stark</li>
  </ul>
  <h3>Additional Information was Obtained from the Following Sources:</h3>
  <ul>
    <li><a href="http://www.newworldencyclopedia.org/entry/Armor" target="new">Armor</a>, retrieved from the New World Encylopedia, November 2012,<a href="http://www.newworldencyclopedia.org" target="new"> http://www.newworldencyclopedia.org</a></li>
    <li><a href="http://www.arador.com/armour/chain-mail/" target="new">&quot;Demystifying Chainmail and Ring Mail&quot;</a> By Dan Howard, retrieved from The Aradow Armoury, <a href="http://www.arador.com" target="new">http://www.arador.com</a></li>
  </ul>
  <h4>JavaScript source codes provided by the following individuals and obtained from JavaScript Source at <a href="http://www.javascriptsource.com">www.javascriptsource.com</a></h4>
  <ul>
    <li>Eric King and Mike Weiner</li>
  </ul>
</div>
