<div id="main">
  <h2>The History of Chainmaille</h2>
  <p>For most people, maille is well known for it's presence in the tales of medieval European &quot;knights in shining armour&quot; and other military men of the period. This is not however when maille originally came into being. Over the years, there has been many a debate on the origins of maille. </p>
  <h3>Maille as Armour</h3>
  <p>While found in many cultures, maille armour is generally believed to have come from the ancient Celtic peoples as early as 500 B.C.E. (Armor, 2012, November 5, <em>New World Encyclopedia)</em>. It is possible that maille goes farther back in time to as early as the 4th or 5th century B.C.E.</p>
  <h3>Maille as Jewelry</h3>
  <p>There is no known history as to when maille was first used as jewelry. Although there has been no concrete proof, it has been rumored that Shakespeare used maille jewelry in some of his productions. For the most part however, knowledge of maille in jewelry form only goes back for around 60 years.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

</div>
