<div>
  <h2>Tools and Materials</h2>
  <p>When chainmaille was mainly used as armour, specialized blacksmiths were known as armourers. These armourers had mainly two types of materials to work with, but many different tools were needed in order to construct a piece of maille. Modern day maillers, as these artisans are now known, have far fewer tools and many more selections of materials to work with.</p>
  <h3>Tools</h3>
  <p>We will start off with a brief list of tools starting with those common to both the original armours and the modern maillers.</p>
  <h4>Pliers</h4>
  <p>Pliers are an essential part of this craft. They provide the craftsman the leverage needed to grip and close the individual rings that make up the maille.</p>
  <h4>Mandrels</h4>
  <p>Mandrels are used to wrap wire into a coil which will be cut into rings. Through modern mass production techniques, few maillers use these tools anymore due to the time involved.</p>
  <h4>Jewelers Saw and Wire Cutters</h4>
  <p>Saws and cutters are used to cut the individual rings from the coils that were wound on the mandrels.</p>
  <h4>Forge</h4>
  <p>A forge was used by the old armours to heat bulk material until it was soft enough to form. </p>
  <h4>Anvil and Dies</h4>
  <p>Anvils and dies were used to form the softened bulk material into the wire that was used for the rings. Due mainly to the time required, modern manufacturing, and inconsistent wire thickness, this method is very seldom used.</p>
  <h3>Materials</h3>
  <p>Below is a list of materials that are most commonly used in making maille.</p>
  <ul>
    <li>Iron</li>
    <li>Galvanized Steel</li>
    <li>Copper</li>
    <li>Brass</li>
    <li>Bronze</li>
    <li>Aluminum</li>
    <li>Titanium</li>
    <li>Stainless Steel</li>
    <li>Niobium</li>
    <li>Gold</li>
    <li>Silver</li>
    <li>Rubber</li>
    <li>Plastic</li>
  </ul>
</div>
