<div>
  <h2>Welcome to the Art of Chainmaille</h2>
  <p>This site is intended to provide you the opportunity to learn a little
  bit about what chainmaille is, where it came from, materials and tools used
  in the making of, and the different uses it has had throughout the years. This
  site is not intended to instruct in the making of maille. Additional sites that
  do help in the instruction of mailling can be found on the Links Page
  <a style="color:blue" (click)="goToLinks()">here</a>.</p>

  <h2>&nbsp;</h2>
  <h2>What is Chainmaille?</h2>
  <p>Chainmaille, also known as maille, chain mail, chainmail, and mail, is the weaving of interconnected rings into a fabric like mesh or chain for use as an armour, jewelry, or decorative art and sculptures.</p>
  <p>These days we define &ldquo;mail&rdquo; as it was defined in the Middle Ages. It consists of a &ldquo;fabric&rdquo; of interlocked metal rings which form a strong, flexible, mesh armour. The word &ldquo;mail&rdquo; is derived through the Old English mayle, French maille, and Italian maglia, from the Latin macula meaning the mesh of a net. (Arador Armoury, 2013)</p>
  <p>Those of us that work in this craft/art, prefer the use of the French &quot;maille&quot; or &quot;chainmaille&quot;. This helps to differentiate what we do with those annoying letters promising bad luck if you fail to send it to so many people within so many days or hours.</p>
</div>


