#header {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  background-color: #0E00C4;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
  border-radius: 50px;
}
#text {
  margin:auto;
  text-align: center;
  font-style: oblique;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-weight: bold;
  font-size: 50px;
  color: #FFFD00;
  padding-left: 15px;
  padding-right: 5px;
  vertical-align:central;
  
}

#logo {
  flex: 0 0 100px;
}
